include LICENSE
include README.md
include pyproject.toml
include requirements.txt
recursive-include citizen/data *.csv
recursive-include citizen/static *
global-exclude *.py[cod] __pycache__ *.so *.dylib *.class 